@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

.center {
  width: 40vw;
  text-overflow: ellipsis;
}

.journal {
  color: #399c87;
  text-decoration: underline;
  font-size: 170%;
  font-family: "Open Sans", sans-serif;
}

.journalTitle {
  color: #399c87;
  font-size: 200%;
}

.topbutton {
  margin-top: 10px;
}textarea {
  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
  width: 600px;
  height: 300px;
  font: normal 14px verdana;
  line-height: 25px;
  padding: 2px 10px;
  border: solid 1px #ddd;
 }

 .divider{
  width:5px;
  height:auto;
  display:inline-block;
}
.text-center {
  text-align: center;
}
