@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

.prescription {
  color: #399c87;
  text-decoration: underline;
  font-size: 170%;
  font-family: "Open Sans", sans-serif;
}
