.navbar-light {
    background: rgb(255,255,255);
    background: linear-gradient(240deg, rgba(255,255,255,1) 0%, rgba(57,156,135,1) 78%);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }

label,
span {
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
} 

.right {
    position:fixed;
    right:10px;
    top:5px;
    color: black;
}


.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #bfbfbf;
}

.navbar-brand:hover {
    color: #bfbfbf;
}